body
{
    background-image: url(non.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

h1
{
    font-family: 'Roboto Mono', monospace;
    color: #c6c9ccbe;
    text-align: center;
    text-shadow: 2px 1px 0px #363434;
    margin-top: 300px;
}

a
{
    display: flex;
    justify-content: space-evenly;
    margin: 100px 500px 0px 500px;
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 1px 0px #363434;
    font-family: 'Roboto Mono', monospace;
    color: #c6c9ccbe;;
    text-decoration: none;
}

a:hover
{
    color: #3475428f;
    cursor: pointer;
}